---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="/">ホーム</a>
		<a href="/about/">概要</a>
		<a href="/blog/">ブログ</a>

		<h1>きょうはカレーの豆知識</h1>
		<h2>カレーの豆知識を書いていきます</h2>

		<ul>
			<li><a href="/posts/post-1/">記事1</a></li>
			<li><a href="/posts/post-2/">記事2</a></li>
		</ul>
	</main>
</Layout>
