---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Blog">
  <main>
    <h1 class="font-bold">カレーの豆知識</h1>
    <h2>カレーの豆知識を書いていきます</h2>

    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
