---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navigation />
  </main>
</Layout>
