---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Home">
  <main>
    <Navigation />
    <Footer />
  </main>
</Layout>
