---
const platform = "github";
const username = "2nofa11";
---

<footer>
  <p>
    開発者について詳しくは<a href={`https://www.${platform}.com/${username}`}
      >{platform}</a
    >をご確認ください！
  </p>
</footer>
