---
import NavigationHamburgerMenu from "./NavigationHamburgerMenu.astro";

interface Props {
  isPrimary?: boolean;
  showNavbarCenter?: boolean;
}

const { isPrimary, showNavbarCenter } = Astro.props as Props;
---

<div class={`navbar ${isPrimary ? "bg-primary" : ""} rounded-lg`}>
  <div class="navbar-start">
    <NavigationHamburgerMenu />
  </div>
  {
    showNavbarCenter && (
      <div class="navbar-center">
        <a class="normal-case text-xl">ロゴ</a>
      </div>
    )
  }
  <div class="navbar-end">
    <button class="btn btn-ghost btn-xs">ログイン</button>
    <button class="btn btn-ghost btn-xs bg-base-100 text-secondary">
      新規登録
    </button>
  </div>
</div>
