---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Wrapper from "./Wrapper.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Wrapper>
  <title slot="head">{title}</title>
  <body slot="body">
    <Navigation isPrimary={true} showNavbarCenter={true} />
    <slot />
    <Footer />
  </body>
</Wrapper>
