---
import Wrapper from "./Wrapper.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Wrapper>
  <title slot="head">TOP</title>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</Wrapper>
